.studentDetail {
    width: 400px    ;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    padding-top: 0;
    border-bottom: 1px solid #888;
}

.studentDetail span, .studentDetail span div {
    cursor: pointer;
}

.studentDetail button {
}

.green, .red {
    display: table;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background-color: green;
    margin-right: 20px;
    vertical-align: middle;
}

.red {
    background-color: red;
}