.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.navLink {
    color: #fff;
    text-decoration: none;
}

.navLink.active {
    font-weight: bold;
}

.navContainer {
    background-color: #392b44;
    color: white;
}